<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="#" class="logo">CPHYER</a>
        <ul class="navlist">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Clans</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    
    <section class="hero">
        <div class="hero-text">
            <h5></h5>
            <h4></h4>
            <h1>DeepFake</h1>
            <p>Deepfakes were originally defined as synthetic media that have been digitally manipulated to replace one person's likeness convincingly with that of another.</p>

            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="video" id="videoInput" required />
                <button type="submit">File Upload</button>
            </form>
            <button id="analyzeButton">Analyze</button>

            <p id="result"></p>
        </div>
        <div class="hero-img">
            <img src="img.png" alt="Deepfake Image">
        </div>
    </section>
    <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-twitter-x-line"></i></a>
    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="static/script.js"></script>
</body>
</html>
